:root {
    --tile-size: 70px;
}

.main {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
}

.game-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.tiles-container {
    margin: 0 auto;
    width: calc(var(--tile-size) * 4 + 24px);
    /* background-color: darkcyan; */
    display: flex;
    flex-wrap: wrap;
    outline: 9px solid lightskyblue;
    font-size: 23px;
    font-weight: 700;
    color: blueviolet;
}

.control-panel {
    width: 100px;
}

.tile {
    height: var(--tile-size);
    width: var(--tile-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    /* box-shadow: inset 0px 0px 10px rgba(200,140,200,0.5); */
    border-radius: 5px;
}

.visibility {
    visibility: hidden;
}